body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('https://images.unsplash.com/photo-1703432799866-1f788053fb3c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.9);
}

.container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 1000px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.social-icons {
    display: flex;
    align-items: center;
}

.discord-icon,
.youtube-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.4s ease;
}

.youtube-link {
    margin-right: 10px; /* Add spacing between Discord and YouTube logos */
}

.discord-link:hover .discord-icon,
.youtube-link:hover .youtube-icon {
    transform: scale(1.2);
}

main {
    padding: 30px;
}

.file-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.file-item {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.file-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.download-button {
    margin-top: 30px;
    display: block;
    width: 70%;
    padding: 18px 0;
    margin: 0 auto;
    background-color: rgba(46, 104, 120, 0.7);
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.4s ease;
}

.download-button:hover {
    background-color: rgba(41, 128, 185, 0.7);
    transform: scale(1.05);
    text-decoration: none;
}

@media (max-width: 768px) {
    .file-item {
        max-width: calc(100% - 30px);
    }
}
